/* Общие стили */

body {
  font-family: "Roboto", sans-serif;
  background-color: #fbfbf7;
}

h1 {
  display: none;
}

/* Стили навигационного меню */

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 14px 24px;
  background-color: #f7f7ee;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.navbar ul {
  display: flex;
  flex-flow: row wrap;
}

.navbar li {
  display: flex;
  flex-flow: row wrap;
  margin-right: 24px;
  font-weight: bold;
}

.navbar li:last-child {
  margin-right: 0;
  margin-left: auto;
}

.navbar a {
  color: #474747;
}

/* Кнопка для возврата к началу страницы */

.arrow-top {
  position: fixed;
  display: none;
  bottom: 2%;
  right: 20px;
  border-radius: 50%;
  border: 2px solid #474747;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background: #f7f7ee;
  transform: rotate(90deg);
}

.arrow-top path {
  fill: rgb(255, 255, 255);
  stroke-width: 4;
  stroke: #474747;    
  transition: fill 0.5s ease-out;
}

.arrow-top:hover path {
  fill: #474747;
}

/* Кнопка для смены темы */

.sun {
  width: 20px;
  height: 20px;
}

.sun path {
  stroke-width: 1;
  stroke: #474747;
}

/* Область для отображения категорий */

.categories {
  margin-top: 80px; /* учитывает высоту навигационного меню */
  padding: 0 16px;
}

.category-title {
  margin: 32px 0 16px;
  font-size: 24px;
}


/* Карточка товара */

.card-container {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: auto;
  grid-auto-flow: dense;
}

.card {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  background-color: #f7f7ee;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card img {
  width: 100%;
  height: auto;
}

.card-info {
  padding: 16px;
}

.card-info h3 {
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 20px;
  text-align: center;
}

.card-date {
  margin-bottom: 8px;
  font-style: italic;
  font-size: 12px;
  text-align: center;
}

.buy-btn {
  display: flex;
  margin: 16px auto 0;
  padding: 8px 16px;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  background-color: #4f9f4f;
  color: #fbfbf7;
  transition: background-color 0.2s ease-in;
}

.buy-btn:hover {
  background-color: #3c773c;
}

/* Форма для покупки товара */

.buy-form-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
}

.buy-form {
  width: 350px;
  padding: 24px;
  background-color: #f7f7ee;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  text-align: center;
}

.buy-form label {
  font-weight: bold;
  margin-top: 16px;
  margin-bottom: 8px;
  display: block;
  text-align: left;
}

.buy-form input[type="number"],
.buy-form input[type="text"],
.buy-form textarea {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 2px solid #c6c6c6;
  border-radius: 10px;
  margin-bottom: 16px;
}

.buy-form textarea {
  resize: none;
}

input[type="radio"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
  margin: 0;
}

input[type="radio"] + label {
  position: relative;
  display: block;
  padding-left: 26px;
  margin-right: 12px;
  cursor: pointer;
  font-size: 16px;
  line-height: 24px;
}

input[type="radio"] + label::before {
  content: '';
  position: absolute;
  display: block;
  top: 2px;
  left: 0;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #fbfbf7;
  border: 2px solid #c6c6c6;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

input[type="radio"]:checked + label::before {
  background-color: #474747;
}

.buy-form-btns button {
  margin-top: 16px;
  padding: 8px 16px;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  background-color: #4f9f4f;
  transition: background-color 0.2s ease-in;
}

.submit-btn {
  color: #fbfbf7;
}

.buy-form-btns .submit-btn:hover {
  background-color: #3c773c;
}

.buy-form-btns .close-btn {
  background-color: #9f4f4f;
  color: #fbfbf7;
  transition: color 0.2s ease-in;
}

.buy-form-btns .close-btn:hover {
  color: #fbfbf7;
  background-color: #773c3c;
  transition: background-color 0.2s ease-in
}

input:invalid {
  border: 2px solid;
}

/* Список категорий внизу страницы */

footer {
  margin-top: 32px;
  padding: 8px 16px;
  background-color: #f7f7ee;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

footer h3 {
  margin-bottom: 8px;
  font-size: 18px;
}

footer ul li {
  display: inline-block;
  margin-right: 16px;
}

footer ul li:last-child {
  margin-right: 0;
}

/* Темная тема */

body.dark-theme {
  background-color: #555555;
  color: #fbfbf7;
}

.navbar.dark-theme {
  background-color: #474747;
  color: #fbfbf7;
}

.navbar.dark-theme a {
  color: #fbfbf7;
}

.navbar.dark-theme .sun path {
  stroke: #fbfbf7;
}

.card.dark-theme {
  background-color: #474747;
  color: #fbfbf7;
}

.buy-form.dark-theme {
  background-color: #474747;
  color: #fbfbf7;
}

.buy-form.dark-theme textarea::placeholder {
  color: #c6c6c6;
}

.buy-form.dark-theme .close-btn {
  background-color: #9f4f4f;
  color: #fbfbf7;
}

.buy-form.dark-theme .close-btn:hover {
  background-color: #b87171;
  color: #fbfbf7;
}

.buy-form.dark-theme .submit-btn,
.card.dark-theme .buy-btn {
  background-color: #4f9f4f;
  color: #fbfbf7;
}

.buy-form.dark-theme .submit-btn:hover,
.card.dark-theme .buy-btn:hover {
  background-color: #71b871;
  color: #fbfbf7;
}

footer.dark-theme {
  background-color: #474747;
  color: #fbfbf7;
}